.card {
  width: 250px;
  height: 330px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(201, 201, 201);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover .card__info {
  opacity: 1;
}

.card:hover .card__type {
  opacity: 1;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in;
}

.card:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: blur(0px);
  transition: all 0.3s ease-in;
}

.card__img:hover {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
}

.card__info {
  display: flex;
  width: 100%;
  opacity: 0;
  flex-direction: row;
  justify-content: space-around;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  align-items: center;
  gap: 20px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}

.card__type {
  display: flex;
  width: fit-content;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  padding: 10px;
  color: whitesmoke;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
  z-index: 1;
}
