.card {
  width: 250px;
  height: 330px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(201, 201, 201);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover .card__info {
  opacity: 1;
}

.card:hover .card__type {
  opacity: 1;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: blur(0px);
  transition: all 0.3s ease-in;
}

.card__img:hover {
  filter: blur(3px);
}

.card__info {
  display: flex;
  width: 100%;
  opacity: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.1);
  align-items: center;
  gap: 20px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: rgb(123, 100, 253);
}

.card__type {
  font-weight: bold;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  padding: 10px;
  color: rgb(123, 100, 253);
  transition: all 0.3s ease-in;
}
