/* :root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  padding: 0 1rem;
}

main {
  min-height: calc(100vh - 70px - 64px);
  flex: 1 0 auto;
  padding: 20px;
}
