.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  position: relative;
}

.search__input {
  display: flex;
  width: 100%;
}

.search__btn {
  display: flex;
  width: fit-content;
  height: 30px;
  align-items: center;
  padding: 0 20px;
  border: none;
  background-color: black;
  color: whitesmoke;
  border-radius: 8px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
