.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}

.search__input {
  display: flex;
  width: 100%;
}

.search__btn {
  display: flex;
  width: fit-content;
  height: 30px;
  align-items: center;
  padding: 0 20px;
  border: none;
  background-color: black;
  color: whitesmoke;
  border-radius: 8px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.radio__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.radio__label {
  color: black;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in;
}

.radio__label:hover {
  border-bottom: 2px solid black;
}
